.description {
    margin: 32px 0 60px;
}

.description::after {
    --size: 120px;

    display: block;
    width: var(--size);
    height: var(--size);
    margin: 60px auto 0;
    content: '';
    background: url('../../images/done.png') no-repeat;
    background-size: contain;
}